<template>
    <div id="wrapper">
        <MainSidenav/>
        <div id="page-wrapper">
            <MainHeader/>
            <router-view/>
        </div>
    </div>
</template>

<script>

import MainHeader from "./MainHeader";
import MainSidenav from "./MainSidenav";

export default {

    name : "MainLayOut",
    components : {
        MainSidenav, MainHeader
    }
}

</script>

<style scoped>

</style>