<template>
    <div> 해더 </div>
</template>

<script>

    export default {
        name: "MainHeader",
        data () {
            return {
                logoutMinute : 0
            }
        }
    }
</script>

<style scoped>

</style>