<template>
    <div>side</div>
</template>

<script>

    export default {
        name: "MainSidenav",
        data(){
            return{
                li_class : 'fa fa-th-large',
            }
        }
    }
</script>