/*
 * Developed by dy.choi@okestro.com on 2020-05-31
 * Last modified 2020-05-31 21:49:06
 */

.v-select-style .vs__search::placeholder,
.v-select-style .vs__dropdown-toggle
{
    border-radius: 0;
    color: #a0a0a0;
    height: 45px;
    font-size: 15px;
    line-height: 30px;
    font-color: #a0a0a0;

}
.v-select-style .vs__dropdown-menu{
    border-radius: 0;
    color: #a0a0a0;
    height: auto;
    max-height: 225px;
    min-width: 140px;
    font-size: 15px;
    line-height: 30px;
    font-color: #a0a0a0;
}

.v-select-style .vs__clear,
.v-select-style .vs__open-indicator {
    fill: #a0a0a0;
    font-color: #a0a0a0;
}

.v-select-style .vs__dropdown-option{
    border-radius: 0;
    color: #a0a0a0;
    height: 45px;
    font-size: 15px;
    line-height: 30px;
    font-color: #a0a0a0;
    letter-spacing: normal;
}
.v-select-style .vs__selected{
    color: #a0a0a0;
    font-size: 15px;
    letter-spacing: normal;
}
.v-select-style .vs__dropdown-option--highlight{
    background:#ffffff;

}



.v-select-custom .vs__search::placeholder,
.v-select-custom .vs__dropdown-toggle
{
    border-radius: 0;
    color: #a0a0a0;
    height: 44px;
    font-size: 15px;
    line-height: 30px;
    font-color: #a0a0a0;

}

.v-select-custom .vs__dropdown-option{
    border-radius: 0;
    height: 44px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
}