<template>
    <!-- 페이징 처리 -->
    <div class="modalFooter" v-if="pageFooter != null">
        <div class="btn-group">
            <button class="btn btn-white" v-on:click="pageMove(1)"><img src="@assets/img/beforeend.png" alt="처음" title="처음"></button>
            <button type="button" class="btn btn-white" v-on:click="pageMove(pageFooter.pre)"><img src="@assets/img/before.png" alt="이전" title="이전"></button>

            <button v-for="(number) in pageFooter.end" v-if="number >= pageFooter.start" v-on:click="pageMove(number)" type="button" v-bind:class="{'btn btn-white' : true, 'active': number == pageFooter.number+1}">{{number}}</button>

            <button type="button" class="btn btn-white" v-on:click="pageMove(pageFooter.next)"><img src="@assets/img/after.png" alt="다음" title="다음"></button>
            <button class="btn btn-white" v-on:click="pageMove(pageFooter.total)"><img src="@assets/img/afterend.png" alt="끝" title="끝"></button>
        </div>
    </div>

</template>

<script>
    import axios from "axios";
    import {createNamespacedHelpers} from 'vuex';
    const popupHelper = createNamespacedHelpers('popup');
    export default {
        name: "pagingComponent"
        ,props: {
            pageVo : Object
            , number : Number
            , search : String
            , searchCondition : String
            , apiUrl : String
        }
        ,data: function () {
            return {
                pageFooter: null
            }
        },
        watch : {
            number : function () {
                //console.log("number" , this.number);
                this.getData();
            },
            search : function () {
                //console.log("search" , this.search);
                this.getData();
            }
            ,
            searchCondition : function () {
                //console.log("search" , this.search);
                this.getData();
            }
        },
        created() {
            this.getData();
            //this.$parent.$on('pagingComponenteEventMsgReflash', setPagingComponenteEventMsgReflash);
        },
        computed: {
            ...popupHelper.mapState({
                spinner: state => state.spinner
            })
        },
        methods: {
            ...popupHelper.mapActions([
                'spinnerOn'
            ]),
            pagingReflash:function () {
                this.getData();
            },
            getData : function() {
                this.spinnerOn(true);
                let self = this;
                axios.post(self.apiUrl, self.pageVo)
                    .then(function (res) {
                        self.setViewList(res.data.viewList);
                        self.pageFooter = self.setFooterPage(self.pageVo.size,self.pageVo.pageSize, res.data.pageVo.size, res.data.pageVo.number, res.data.pageVo.totalPages);
                        self.spinnerOn(false);
                    }).catch(function (error) {
                        console.log(error);
                        self.spinnerOn(false);
                    })
            }
            ,
            setFooterPage : function (size, pageSize, dataSize, number, totalPage){
                let page =
                    {
                        listSize: size,
                        size: pageSize,
                        number: number,
                        start: null,
                        end: null,
                        total: totalPage,
                        pre: null,
                        next: null,
                        dataSize: dataSize,
                        startNo : 0
                    };

                // set page pre
                if( page.number <= page.size){
                    page.pre = 1;
                }else{
                    page.pre = parseInt( ( page.number) / page.size) * page.size;
                }

                // set page next
                page.next = parseInt( (page.number  + page.size) / page.size ) * page.size + 1;
                if(page.next > page.total){
                    page.next = page.total;
                }

                page.start = parseInt((page.number)  / page.size) * page.size + 1;
                page.end = page.start -1 + page.size;
                if(page.end > page.total){
                    page.end = page.total;
                }
                //this.$parent.modal.startNo = ((page.total * page.listSize) - (page.number * page.listSize))-(page.listSize-2);
                return page;
            }
            ,
            pageMove : function (number) {
                this.$emit('setPageNumber', number);
            }
            ,
            setViewList : function (data) {
                this.$emit('setViewList', data);
            }


        }

    }
</script>

<style scoped>

</style>