<template>
    <!-- 페이징 처리 -->
    <div class="row btn-group col-sm-12" v-if="pageFooter != null">
            <button class="btn btn-white" v-on:click="pageMove(1)"><img src="@assets/img/beforeend.png" alt="처음" title="처음"></button>
            <button type="button" class="btn btn-white" v-on:click="pageMove(pageFooter.pre)"><img src="@assets/img/before.png" alt="이전" title="이전"></button>

            <button v-for="(number) in pageFooter.end" v-if="number >= pageFooter.start" v-on:click="pageMove(number)" type="button" v-bind:class="{'btn btn-white' : true, 'active': number == pageFooter.number+1}">{{number}}</button>

            <button type="button" class="btn btn-white" v-on:click="pageMove(pageFooter.next)"><img src="@assets/img/after.png" alt="다음" title="다음"></button>
            <button class="btn btn-white" v-on:click="pageMove(pageFooter.total)"><img src="@assets/img/afterend.png" alt="끝" title="끝"></button>
    </div>
</template>

<script>

    export default {
        name: "webPagingComponent"
        ,props: {
            search : String
            , searchColumn : String
            , searchColumnList : Array
            , dataList : Array
            , dataSize : Number
        }
        ,data: function () {
            return {
                pageFooter: null
                , dataStartIdx : Number
                , viewList : null
                , filteredList : null
                , number : 1
                , pageSize : 5
                , size : 10
            }
        },
        watch : {
            search : function () {
                this.number =1;
                this.getFilteredList();
                this.getData();
            },
            dataList : function () {
                this.filteredList = this.dataList;
                this.getFilteredList();
                this.getData();
            }
        },
        created() {
           //this.pageSize = this.$pageSize;
            this.pagingReflash();
        },
        methods: {
            pagingReflash:function () {
                this.number =1;
                this.getFilteredList();
                this.getData();
            },
            getFilteredList : function () {
                let self = this;
                if(this.dataList !=null) {
                    if(this.searchColumn == "selectAll") {
                        if(this.searchColumnList != null && this.searchColumnList != "undefined") {
                            this.filteredList = this.dataList.filter(function (item) {
                                let ret = false;
                                for(let i=0; i<self.searchColumnList.length; i++) {
                                    if(!ret) {
                                        if(typeof(item[self.searchColumnList[i]]) == "string") {
                                            ret = item[self.searchColumnList[i]].toLowerCase().indexOf(self.search.toLowerCase()) > -1;
                                        }
                                    }
                                }
                                return ret
                            });
                        }else {
                            this.filteredList = this.dataList.filter(function (item) {
                                let ret = false;
                                let keys = Object.keys(item);
                                for(let i=0; i<keys.length; i++) {
                                    if(!ret) {
                                        if(typeof(item[keys[i]]) == "string") {
                                            ret = item[keys[i]].toLowerCase().indexOf(self.search.toLowerCase()) > -1;
                                        }
                                    }
                                }
                                return ret
                            });
                        }


                    }else {
                        this.filteredList = this.dataList.filter(function (item) {
                            let ret = false;
                            if(item[self.searchColumn] !=null){
                                ret = item[self.searchColumn].toLowerCase().indexOf(self.search.toLowerCase()) > -1;
                            }
                            return ret
                        });
                    }
                }


            },
            getData : function() {
                if(this.dataList != null) {
                    if(this.dataSize != null && this.dataSize != "undefined") {
                        // 해당페이지에서 데이터 사이즈를 정의 하였을 경우
                        this.pageFooter = this.setFooterPage(this.pageSize, this.dataSize, this.number, parseInt(((this.filteredList.length -1) / this.dataSize) + 1));
                    }else {
                        // 해당페이지에서 데이터 사이즈를 정의하지 않았을 경우
                        this.pageFooter = this.setFooterPage(this.pageSize, this.size, this.number, parseInt(((this.filteredList.length -1) / this.size) + 1));
                    }

                }
            },
            setFooterPage : function (pageSize, dataSize, number, totalPage){
                number = number -1;
                let page =
                    {
                        size: pageSize,
                        number: number,
                        start: null,
                        end: null,
                        total: totalPage,
                        pre: null,
                        next: null,
                        dataSize: dataSize
                    };

                // set page pre
                if( page.number <= page.size){
                    page.pre = 1;
                }else{
                    page.pre = parseInt( ( page.number) / page.size) * page.size;
                }

                // set page next
                page.next = parseInt( (page.number  + page.size) / page.size ) * page.size + 1;
                if(page.next > page.total){
                    page.next = page.total;
                }

                page.start = parseInt((page.number)  / page.size) * page.size + 1;
                page.end = page.start -1 + page.size;
                if(page.end > page.total){
                    page.end = page.total;
                }

                this.dataStartIdx = (this.number - 1) *  page.dataSize;

                // paging viewList
                this.viewList = this.filteredList.slice(this.dataStartIdx, this.dataStartIdx + page.dataSize);
                this.setViewList(this.viewList);

                return page;
            }
            ,
            pageMove : function (number) {
                this.number = number;
                this.getData();
            }
            ,
            setViewList : function (data) {

                this.$emit('setViewList', data);
            }



        }

    }
</script>

<style scoped>

</style>