<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    import '@js/jquery-3.5.1.js'
    import '@js/bootstrap.min.js'
    import '@js/inspinia.js'
    import '@js/plugins/metisMenu/jquery.metisMenu.js'
    import '@js/plugins/slimscroll/jquery.slimscroll.min.js'
    import '@js/plugins/pace/pace.min.js'


    export default {
        name: "App",
        created() {
            this.$i18n.locale = 'ko';
            this.$cookie.set('locale', 'ko');
        },
        data: function () {
            return {
                alertParam: {
                    title: ""
                    , message: ""
                    , inputType: "text"
                    , display: {
                        display: "none"
                    }
                }
            }
        }
    };
</script>

<style lang="scss">
    .custom-notification {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;

        &.warn {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        &.error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        &.success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

        &.info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }
    }
</style>
