<template>
    <div class="custom-select" v-click-outside="outside">
        <div class="select-selected" v-bind:class="{'select-arrow-active': isActive}" v-on:click="setIsActive(true,selectItem)">{{viewName}}</div>
        <div class="select-items" v-bind:class="{'select-hide': hide}">
            <div v-if="selectVo != null && selectVo.list != null" v-for="(data , index) in selectVo.list" v-on:click="setHide(false,data)" v-bind:class="{'same-as-selected':selectItem.value == data.value}" >{{data.name}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "formSelectBoxComponent"
        ,props: {
            selectVo : Object
            ,index : Number
            ,isClick : {
                type: Boolean,
                default: true
            }
        } ,data: function () {
            return {
                isActive : false
                , hide : true
                , viewName : "선택"
                , selectItem : {
                    name : "선택"
                    ,value : "all"
                }
            }
        }
        ,methods: {
            setIsActive : function (at,value) {
                if (this.isClick) {
                    if (value.name !== undefined && this.viewName !== null) {
                        this.viewName = value.name;
                    }

                    this.hide = false;
                    this.selectItem = value;

                    if (at) {
                        if (this.isActive) {
                            this.isActive = false;
                            this.hide = true;
                        } else {
                            this.isActive = at;
                        }
                    }
                }
            }
            ,setHide : function (at, value) {
                this.viewName = value.name;
                this.isActive = at;
                this.hide = true;
                this.selectItem = value;
                this.callback();
            }
            ,callback : function () {
                this.$emit('setSelected',this.selectItem,this.index);
            }
            ,outside : function () {
                this.isActive = false;
                this.hide = true;
            }
            ,setSelectItem(item) {
                this.viewName = item.name;
                this.selectItem = item.value;
            }
        },
        directives: {
            'click-outside': {
                bind: function(el, binding, vNode) {
                    // Provided expression must evaluate to a function.
                    if (typeof binding.value !== 'function') {
                        const compName = vNode.context.name
                        let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
                        if (compName) { warn += `Found in component '${compName}'` }
                        console.warn(warn)
                    }
                    // Define Handler and cache it on the element
                    const bubble = binding.modifiers.bubble
                    const handler = (e) => {
                        if (bubble || (!el.contains(e.target) && el !== e.target)) {
                            binding.value(e)
                        }
                    }
                    el.__vueClickOutside__ = handler

                    // add Event Listeners
                    document.addEventListener('click', handler)
                },

                unbind: function(el, binding) {
                    // Remove Event Listeners
                    document.removeEventListener('click', el.__vueClickOutside__)
                    el.__vueClickOutside__ = null

                }
            }
        }
    }
</script>

<style scoped>

</style>