<template>
    <div v-bind:class="{'custom-select table_select': true, 'search_select' : searchSelect==false, 'lg' : lg}" v-click-outside="outside">
        <div v-show="!disabled" class="select-selected" v-bind:class="{'select-arrow-active': isActive}" v-on:click="setIsActive(true,selectVo.selected)">{{selectVo.selected.name}}</div>
        <div v-show="disabled" class="select-selected" v-bind:class="{'select-arrow-active': isActive}" v-bind:style="disabledStyle">{{selectVo.selected.name}}</div>
        <div class="select-items" v-bind:class="{'select-hide': hide}">
            <div v-if="selectVo != null && selectVo.list != null" v-for="(data , index) in selectVo.list" v-on:click="setHide(false,data)" v-bind:class="{'same-as-selected':selectVo.selected.value == data.value}" >{{data.name}}</div>
        </div>
    </div>
</template>

<script>
    import {selectBoxMixins} from "./mixins/selectBoxMixins";

    export default {
        name: "selectBoxComponent"
        ,props: {
            selectVo : Object
            ,index : Number
            ,searchSelect : Boolean
            ,lg : Boolean,
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
            }
        },
        mixins:[selectBoxMixins]
        ,methods: {
            setIsActive: function (at, value) {
                this.viewName = value.name;
                this.hide = false;
                this.selectItem = value;

                if (at) {
                    if (this.isActive) {
                        this.isActive = false;
                        this.hide = true;
                    } else {
                        this.isActive = at;
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>