<template>
    <div class="custom-select table_select" v-click-outside="outside">
        <div v-show="!disabled" class="select-selected" v-bind:class="{'select-arrow-active': isActive}" v-on:click="setIsActive(true,selectItem)">{{selectVo.title}}</div>
        <div v-show="disabled" class="select-selected" v-bind:class="{'select-arrow-active': isActive}" v-bind:style="disabledStyle">{{selectVo.title}}</div>
        <div class="select-items" v-bind:class="{'select-hide': hide}">
            <div v-if="selectVo != null && selectVo.list != null" v-for="(data , index) in selectVo.list" v-on:click="setHide(false,data)" v-bind:class="{'same-as-selected':selectItem.value == data.value}" >{{data.name}}</div>
        </div>
    </div>
</template>

<script>
    import {selectBoxMixins} from "./mixins/selectBoxMixins";

    export default {
        name: "tableSelectBoxComponent"
        ,props: {
            selectVo : Object
            ,index : Number
            ,isClick : {
                type: Boolean,
                default: true
            },
            disabled: {
                type: Boolean,
                default: false
            }

        },
        data: function () {
            return {
            }
        },
        mixins:[selectBoxMixins]
        ,methods: {
            setIsActive : function (at,value) {
                if (this.isClick) {
                    this.viewName = value.name;
                    this.hide = false;
                    this.selectItem = value;

                    if(at) {
                        if(this.isActive) {
                            this.isActive = false;
                            this.hide = true;
                        }else {
                            this.isActive = at;
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>