<template>
  <table>
    <thead>
      <tr>
        <th v-for="key in headers" :key="key">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in datas" :key="entry.name" @click="select(entry)">
        <td class="align-middle" v-for="key in headers" :key="key">{{ entry[key] }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "testTable",
  props: {
    headers: Array,
    datas: Array
  },
  data: function() {
    return {
      selected: [],
      sortKey: ""
    };
  },
  computed: {},
  methods: {
    select: function(item){
      if(this.selected.indexOf(item) !== -1 ){
        this.selected.splice(this.selected.indexOf(item), 1)
      }else{
        this.selected.push(item);
      }
      this.$emit('input', this.selected);
      // console.log(this.selected.length);
    },
  },
  filters: {},
  created() {
    // console.log("datatable created");
  },
  mounted() {
    // console.log("datatable mounted");
  }
};
</script>

<style lang="scss" scoped>
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>
