<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <link href="<%= BASE_URL %>favicon.ico" rel="icon">
  <title>eGovCP 관리자 포털 </title>
</head>
<body class="fixed-nav">
<noscript>
  <strong>자바스크립트가 활성화되지 않은 경우 제대로 작동하지 않습니다. 이 사이트의 기능을 모두 활용하기 위해서는 자바스크립트를 활성화 시킬 필요가 있습니다.</strong>
</noscript>
<div id="app"></div>
</body>
</html>
